.row {background-color: lavender;}

.col1 {
    margin: 3px;
    min-height: 300px;
    text-align:center;
    background-color:silver;
}

.col2 {
    margin: 3px;
    min-height: 300px;
    text-align:center;
    background-color:green;
}

.col3 {
    margin: 3px;
    min-height: 300px;
    text-align:center;
    background-color:pink;
}

.col4 {
    margin: 3px;
    min-height: 300px;
    text-align:center;
    background-color:blue;
}

.col5 {
    margin: 3px;
    min-height: 300px;
    text-align:center;
    background-color:orange;
}

.col6 {
    margin: 3px;
    min-height: 300px;
    text-align:center;
    background-color: lime;
}

.col7 {
    margin: 3px;
    min-height: 300px;
    text-align:center;
    background-color: red;
}

input {
    margin: 5px;
}